@namespace StockMarket.Pages
@inject PerformanceService PerformanceService

<div class="MainContainer">
    <span class="perform-title"><b>Total Performance</b></span>
    <div class="performance-tile-parent">
        @foreach (var performData in PerformanceDataList)
        {
            <PerformanceComponent Change="@performData.PerformanceChange" PerformancePeriod="@performData.Period"></PerformanceComponent>
        }
    </div>
</div>


@code {
    public List<PerformanceData> PerformanceDataList { get; set; }

    protected override void OnInitialized()
    {
        PerformanceDataList = PerformanceService.GetPerformanceData();
    }

    public void PerformanceRefresh()
    {
        PerformanceDataList = PerformanceService.GetPerformanceData();
        StateHasChanged();
    }

}