@inject IJSRuntime JSRuntime
@using StockMarket.Components.Pages
@using StockMarket.Components.Pages

<PageTitle>Stock Market Dashboard</PageTitle>
<CascadingValue Value="this">
    <div class="stockmarket-container">
        <div class=@GetColumnClass()>
            <div class="watchlist-module">
                <WatchlistComponent ShouldRenderWatchList=@GetWatchListVisibility()></WatchlistComponent>
            </div>
        </div>
        @if (GetChartVisibility())
        {
            <div class="column-80">
                <div class="chart-common-module">
                    <ChartComponent @ref="chartComponent"></ChartComponent>
                </div>
                <div class="keystats-common-module">
                    <KeyStatisticsComponent @ref="keyStatisticsComponent"></KeyStatisticsComponent>
                </div>
                <div class="techinfo">
                    <div class="total-perform total-common-module">
                        <TotalPerfomanceComponent @ref="totalPerfomanceComponent"></TotalPerfomanceComponent>
                    </div>
                    <div class="technical tech-common-module">
                        <TechnicalsComponent @ref="technicalsComponent" PointerValue="@PointerValue"></TechnicalsComponent>
                    </div>
                </div>
            </div>
        }
    </div>
</CascadingValue>
<div class="footer">
    <div class="footer-container">
        <div class="footer-icon">
            <img class="footer-logo" src="css/images/StockmarketDashboard.svg" alt="Stock market icon" />
        </div>
        <div class="footer-content">
            <div class="title">
                <span>Want an interactive stock market dashboard in your app?</span>
                <span><strong> Try our Stock Market Dashboard showcase sample</strong> — build, connect, and customize!</span>
            </div>
            <div class="buttons">
                <a href="https://www.syncfusion.com/downloads/blazor?tag=es-seo-blazor-demos-static-menu-trial" target="_blank" class="e-trial-btn e-btn" title="Free Trial Button" role="button"></a>
                <a href="https://www.syncfusion.com/request-demo?tag=blazor-server-stockmarket-showcase" target="_blank" class="e-demo-btn e-btn" title="Request Demo Button">Request Demo</a>
            </div>
        </div>
    </div>
</div>
<style>

    .footer {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90.4deg, #154db9 0.03%, #081b3f 11.56%, #081b3f 85.56%, #154db9 99.97%);
        border: 1px solid #D8DEE9;
        z-index: 1000;
        padding: 16px;
        width: 100%;
    }

    .footer .title {
        gap: 8px;
        margin-left: 0px;
     }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .footer-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .footer-logo {
        width: 46px;
        height: 46px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .footer-icon {
        display: flex;
        gap: 10px;
        flex: 0 0 auto;
        width: 38px;
        height: 38px;
        align-items: center;
    }

    .footer-content .title span {
        font-weight: 400;
        font-size: 16px;
        color: #e1e3e7;
    }

    @@media screen and (max-width: 1140px), screen and (max-device-width: 1140px) {
        .footer-content .title {
            display: flex;
            flex-direction: column;
            color: white;
        }
    }

    @@media screen and (max-width: 1140px), screen and (max-device-width: 1140px) {
        .footer-content .title span, .footer-content .title span .main-title {
            font-size: 14px;
        }
    }

    .footer-content .buttons {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .footer-content .e-trial-btn {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #FFF30F;
        color: #0F172A;
        border: transparent;
        border-radius: 8px;
        padding: 10px 16px;
        font-weight: 700;
        font-family: sans-serif;
    }

    .footer-content .e-demo-btn {
        background-color: transparent;
        border: transparent;
        color: white;
        border-radius: 6px;
        padding: 10px 16px;
        font-weight: 500;
    }

    .footer-content .e-trial-btn::before {
        content: 'Start Free Trial';
        font-family: sans-serif;
    }

    .footer-content .e-trial-btn::after {
        content: '\e773';
        font-family: 'e-icons';
        transform: rotate(180deg);
    }

    .footer-content .e-demo-btn:hover {
        background-color: #173D87;
    }

    @@media screen and (max-device-width: 730px) {
        .footer {
            height: 90px;
            bottom: 0;
        }

        .footer-content .buttons .e-demo-btn {
            display: none;
        }

        .footer-content .buttons .e-trial-btn::before {
            content: 'Free Trial';
        }

        .footer-content .buttons .e-trial-btn::after {
            content: "";
        }
    }

    @@media screen and (max-width: 900px), screen and (max-device-width: 900px) {
        .footer-content .title span:last-child {
            display: none;
        }
    }
</style>
@code {
    public KeyStatisticsComponent keyStatisticsComponent;
    public ChartComponent chartComponent;
    public TotalPerfomanceComponent totalPerfomanceComponent;
    public TechnicalsComponent technicalsComponent;

    public double PointerValue { get; set; } = 95;

    public void Rerender()
    {
        if (GetChartVisibility())
        {
            chartComponent?.ChartRefresh();
            keyStatisticsComponent?.KeyStatsRefresh();
            totalPerfomanceComponent?.PerformanceRefresh();
            technicalsComponent?.TechRefresh();
        }
        else
        {
            stockSelected = true;
            StateHasChanged();
        }
    }
    public void ResetSelection()
    {
        stockSelected = false;
        StateHasChanged();
    }
    public bool isMobile = false;
    public bool isTab = false;
    bool toggleChart = false;
    bool stockSelected = false;
    double screenHeight, screenWidth;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            screenHeight = await JSRuntime.InvokeAsync<int>("getScreenHeight");
            screenWidth = await JSRuntime.InvokeAsync<int>("getScreenWidth");
            SetDeviceDetails(screenWidth);
            if (isMobile || isTab)
            {
                try
                {
                    await Task.Delay(1000);
                    await InvokeAsync(StateHasChanged);
                }
                catch
                {

                }
            }
        }
    }
    private void SetDeviceDetails(double screenWidth)
    {
        if (screenWidth <= 1024 && screenWidth >= 720)
        {
            isTab = true;
        }
        else if (screenWidth < 720)
        {
            isMobile = true;
        }
        toggleChart = isMobile || isTab;
    }
    bool GetWatchListVisibility()
    {
        return (isMobile || isTab) ? !stockSelected : true;
    }
    bool GetChartVisibility()
    {
        return (toggleChart && !stockSelected) ? false : true;
    }
    string GetColumnClass()
    {
        return GetWatchListVisibility() ? "column-20" : GetColumnClassForDevice();
    }
    string GetColumnClassForDevice()
    {
        return "column-20 " + (isMobile ? "column-20-hide-mob" : "column-20-hide-tab");
    }
}