@namespace StockMarket.Pages

@inject KeyStatisticsService KeyStatisticsService

<div class="key">Key Stats</div>

<div class="container">
    @foreach (var keyData in KeyStatisticsDataList)
    {
        <KeyStatistics Content="@keyData.Text" Value="@keyData.Value"></KeyStatistics>
    }
</div>



@code {

    public List<KeyStatisticsData> KeyStatisticsDataList { get; set; }

    protected override void OnInitialized()
    {
        KeyStatisticsDataList = KeyStatisticsService.GetKeyStatisticsData();
    }

    public void KeyStatsRefresh()
    {
        KeyStatisticsDataList = KeyStatisticsService.GetKeyStatisticsData();
        StateHasChanged();
    }

}
