@namespace StockMarket.Pages

<div class="tile">
    <div class="content-tile">@Content</div>
    @if (Content == "Market Capitalisation" || Content == "Basic EPS (TTM)" || Content == "Net Income" || Content == "Revenue")
    {
        <div class="value-tile">
            <span>@Value</span>
            <span class="subtext">USD</span>
        </div>
    }
    else
    {
        <div class="value-tile">@Value</div>
    }
</div>


@code {

    [Parameter]
    public string Content { get; set; }
    [Parameter]
    public string Value { get; set; }

}
