#stockchart {
    height: 100% !important;
}

#stockchart_stockChart_rangeSelector_rightUnSelectedArea, #stockchart_stockChart_rangeSelector_leftUnSelectedArea {
    pointer-events: none;
}

#stockchart_stockChart_rangeSelector_SelectedArea {
    fill: #6528F7;
    opacity: 0.2;
}

#stockchart_stockChart_rangeSelector_Series_Series {
    stroke-width: 2px !important;
}

#stockchart_stockChart_rangeSelector_Series_1{
    stroke-width: 0;
}

.e-stockchart-select::before {
    content: '\e718';
}

.e-dlg-overlay {
    height: 200vh;
}
#stockchart_stockChart_chart_axis_tooltip_text_0 {
    fill: #F9FAFB !important;
}
g > text {
    line-height: 18px !important;
    fill: #111827 !important;
}

path[id*=_stockChart_chart_Series_] {
    /*stroke: #111827 !important;*/
}

.e-appbar.e-control.e-lib.e-inherit {
    border: 0px solid transparent !important;
    box-shadow: none !important;
}

.stock-name {
    font-weight: 900;
}

.span-padding {
    padding: 10px;
}

.symbol-name {
    color: gray;
    padding: 5px 0px 0px 0px;
    font-size: 12px;
}

.e-chip {
    border-radius: 15px !important;
}

.e-chip.e-danger {
    background-color: #E11D48 !important;
    border-color: #E11D48 !important;
}
.chip-compare-text {
    font-size: 10px !important;
    font-weight: 500 !important;
    line-height: 12.5px !important;
    color: #6528F7 !important;
    border-radius: 0px !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.chart-common {
    height: 464px;
}

.chart-after-compare {
    height: 424px;
}

.e-warning {
    background-color: #FB923C !important;
}

.remove-stock {
    display: none;
}

.add-stock {
    display: block;
}

.remove-btn {
    margin-top: 0.6%;
}

.e-dialog .e-dlg-content {
    scrollbar-width: none;
}

.e-dialog ::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.e-dialog .e-dlg-header{
    height: 24px;
}

.search {
    border-width: thin;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    margin-bottom: 3%;
}

.dialogimage {
    width: 10%;
    height: 10%;
    border-radius: 20px;
}


/*.wrapper {
    padding-top: 4%;
}*/

.price.positive {
    font-weight: bold;
    color: green; /* Green color for positive values */
}

.price.negative {
    font-weight: bold;
    color: red; /* Red color for negative values */
}

.namelist {
    position: absolute;
    top: 21%;
    left: 10%;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
}

.subname {
    position: absolute;
    bottom: 29%;
    left: 10%;
    font-size: 10px;
    font-family: Inter;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.01em;
    text-align: left;
}

.currentprice {
    position: absolute;
    top: 21%;
    right: 5%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.price {
    position: absolute;
    bottom: 29%;
    right: 5%;
    text-align: right;
    font-size: 10px;
}

.stock-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Add padding to create space between elements */
}

