.subtext {
    color: #6A6A6A;
    font-weight: 400;
    font-size: 8px; /* You can adjust the font size as well */
}

.tile {
    width: 25%;
    height: 40%;
    margin-bottom: 3%;
}

.content-tile {
    font-size: 12px;
    font-weight: 600;
}

.value-tile {
    font-size: 20px;
    font-weight: 400;
}
.key {
    margin-left: 1%;
    margin-top: 1%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 30%;
    height: 20%;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media only screen and (max-width: 280px) {
    /* Styles for Galaxy Fold (example) */

    .keystats-common-module {
        padding: 1%;
        border-radius: 20px;
        margin: 2% 2% 2% 2%;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        height: auto;
    }

    .tile {
        width: 48%;
        height: 40%;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .key {
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        width: 30%;
        height: 20%;
    }

    .value-tile {
        font-size: 17px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 420px) and (max-width: 440px) {
    /* Styles for iPhone 14 Pro Max (example) */

    .keystats-common-module {
        padding: 1%;
        border-radius: 20px;
        margin: 2% 2% 2% 2%;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        height: auto;
    }

    .tile {
        width: 47%;
        height: 40%;
        margin-bottom: 3%;
        margin-top: 3%;
    }

    .key {
        margin-left: 4%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        width: 30%;
        height: 20%;
    }

    .content-tile {
        font-size: 14px;
        font-weight: 600;
    }

    .value-tile {
        font-size: 20px;
        font-weight: 400;
    }
}

@media only screen and (min-width: 450px) and (max-width: 540px) {
    /* Styles for Surface Duo (example) */

    .keystats-common-module {
        padding: 1%;
        border-radius: 20px;
        margin: 2% 2% 2% 2%;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        height: auto;
    }

    .tile {
        width: 47%;
        height: 40%;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .key {
        margin-left: 4% !important;
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        width: 30%;
        height: 20%;
    }

    .value-tile {
        font-size: 20px;
        font-weight: 400;
    }
}


@media only screen and (max-width: 719px) {
    /* Styles for mobile layouts */

    .keystats-common-module {
        padding: 1%;
        border-radius: 20px;
        margin: 2% 2% 2% 2%;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        height: auto;
    }

    .tile {
        width: 47%;
        height: 40%;
        margin-bottom: 4%;
        margin-top: 2%;
    }

    .key {
        margin-left: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        width: 30%;
        height: 20%;
    }
}

@media only screen and (min-width: 720px) and (max-width: 768px) {
    /* Styles for iPad Mini (example) */

    .keystats-common-module {
        padding: 1%;
        border-radius: 20px;
        margin: 2% 2% 2% 2%;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        height: auto;
    }

    .tile {
        width: 33%;
        height: 40%;
        margin-bottom: 2%;
        margin-top: 3%;
    }

    .key {
        margin-left: 2%;
        margin-top: 1%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        width: 30%;
        height: 20%;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }
}

@media only screen and (min-width: 770px) and (max-width: 820px) {
    /* Styles for iPad Air (example) */

    .keystats-common-module {
        padding: 1%;
        border-radius: 20px;
        margin: 2% 2% 2% 2%;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        height: auto;
    }

    .tile {
        width: 33%;
        height: 40%;
        margin-bottom: 2%;
        margin-top: 3%;
    }

    .key {
        margin-left: 3%;
        margin-top: 1%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        width: 30%;
        height: 20%;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }
}

@media only screen and (min-width: 830px) and (max-width: 912px) {
    /* Styles for Surface Pro (example) */

    .keystats-common-module {
        padding: 1%;
        border-radius: 20px;
        margin: 2% 2% 2% 2%;
        background-color: #FFFFFF;
        border: 1px solid #E5E5E5;
        height: auto;
    }

    .tile {
        width: 33%;
        height: 40%;
        margin-bottom: 2%;
        margin-top: 3%;
    }

    .key {
        margin-left: 3%;
        margin-top: 1%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        width: 30%;
        height: 20%;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        margin-left: 1.5%;
    }
}