.e-listview {
    border: none;
    background-color: #FFFFFF;
}

    /*.e-listview::-webkit-scrollbar {*/ /* Set Height and Width to 0 for hide the scrollbar  */
        /*width: 0;
        height: 0;
    }*/

.list-container {
    background-color: #FFFFFF;
}

.e-listview:not(.e-list-template) .e-list-item{
    height: 64px !important;
}

.headimg {
    width: 14%;
    border-radius: 14%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2%;
}

.search-container {
    border-width: thin;
    border-radius: 20px;
    width: 90%;
    margin-left: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type="text"]::placeholder {
    padding-left: 2%;
    color: #555;
}

input[type="text"] {
    text-indent: 5%; /* Move cursor to the right for the placeholder */
}

.heading {
    padding: 4%;
    margin-left: 1%;
    display: flex;
    align-items: center;
    height: 72px;
}

.search-div {
    margin-left: 3%;
    margin-bottom: 3%;
    height: 40px;
    width: 92%;
    border-radius: 32px;
}

.title1 {
    font-family: Inter;
    font-size: 120%;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: left;
}

.title2 {
    font-family: Inter;
    font-size: 120%;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
}

.e-avatar.e-avatar-small {
    width: 15%;
    height: 15%;
}

.e-avatar.e-avatar-circle {
    width: 40px;
    height: 40px;
    border-radius: 40px
}

.up-down-price.positive {
    font-weight: bold;
    color: green; /* Green color for positive values */
}

.up-down-price.negative {
    font-weight: bold;
    color: red; /* Red color for negative values */
}

.stock-namelist {
    position: absolute;
    top: 0;
    left: 15%;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
}

.stock-subname {
    position: absolute;
    bottom: 0;
    left: 15%;
    font-size: 10px;
    font-family: Inter;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0.01em;
    text-align: left;
}

.stock-current-price {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.up-down-price {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    font-size: 10px;
}

.e-list-item.e-level-1 {
    height: 100% !important;
    line-height: inherit !important;
}

.e-list-wrapper {
    min-height: 50px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}


.e-list-wrapper.e-list-multi-line.e-list-avatar > div {
    padding: 16.5px;
}

