div[id*="_Axis_0_Annotation"] {
    line-height: 15px;
}

.circulargauge {
    height: 100%;
    width: 90%;
}

.headtitle {
    height: 10%;
    margin-top: 1%;
    margin-left: 1%;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}


@media only screen and (max-width: 719px) {
    /* Styles for mobile layouts */

    .technical {
        width: auto;
        margin: 0.5% 2% 2% 2%;
    }

    .circulargauge {
        height: 100%;
        width: 90%;
        margin-left: 10%;
    }

    .headtitle {
        height: 1%;
        margin-top: 6%;
        margin-left: 6%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1024px) {
    /* Styles for iPad Mini, ipad Air, Surface Pro 7 (example) */

    .technical {
        width: auto;
        margin: 0.5% 2% 2% 2%;
    }

    .headtitle {
        height: 5%;
        margin-top: 4%;
        margin-left: 4%;
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }
}
