@namespace StockMarket.Components.Pages

@{
    var chnageClass = Change > 0 ? "green" : "red";
}

<div class="performance-tile @chnageClass">
    <div class="performance-change-tile">@Change%</div>
    <div class="performance-period-tile">@PerformancePeriod</div>
</div>

@code {
    [Parameter]
    public double Change { get; set; }
    [Parameter]
    public string? PerformancePeriod { get; set; }
}
